:root{
--color-primary: #08A6E4;
--color-primary-shadow: rgba(7, 172, 230, .16);
--color-redish: #FB3B64;
--color-green: #55DFB4;
--color-black: #000000;
--color-grey: #A5A5A5;
--color-light-grey: #F7F7F7;
--color-white: #FFFFFF;
--button-radius: 35px;
}

*{
    box-sizing: border-box;
}

a{
    cursor: pointer;
    text-decoration: none;
}

header {
    /* background-color: var(--color-redish); */
    height: 70px;
    font-family: 'Raleway', sans-serif;
    box-shadow: 0px 3px 6px #00000029;
}
.container {
    width: 1352px;
    margin: 0 auto;
}
.header__container{
    height: 100%;  
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 300;
    font-size: 2rem;
}
.header__nav{
    display: flex;
    color: var(--color-primary);
    list-style: none;

}
.nav__link{
    padding: 28px 18px 22px;
    text-decoration: none;
    text-transform: uppercase;   

}
.nav__link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
    border-bottom: 4px solid var(--color-primary);
  }
  .nav__element {
    padding: 0 26px;
  }
  .nav__element:last-child {
    padding-right: 10px;
  }
  .opener{
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;
  }
.opener_box{
      margin-top: 50px;
      text-align: center;
  }
  .opener_header{
    font-size: 3.0625rem;
  }
  .opener_text{
      font-size: 1rem;
      padding: 20px;
  }
.btn{
    padding: 16px 65px;
    border-radius: var(--button-radius);
    display: inline-block;
    font-weight: bold;
    color: var(--color-white);
}
.btn--primary {
    background-color: var(--color-primary);
    border-radius: var(--button-radius);
    box-shadow: 3px 10px 14px var(--color-primary-shadow);
  }
  .btn--large {
    padding: 22px 155px;
  }